/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    color: #fff;
    background-color: #000;
    height: 100vh;
    font-size: 15px;
}
/* UTILITIES */
/* display */
.disp-flex{
    display: flex;
}

/* button */
.btn{
    padding: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
/* padding */
.pd-15{
    padding: 15px;
}
/* margin */
.mg-right5{
    margin-right: 5px;
}
.mg-x25{
    margin: 0 25px;
}
/*  */

/* HEADER */
header {
    text-align: right;;
}
/* MAIN */
main{
    flex-grow: 1;
    overflow: auto;
}
.gallery{
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    margin-top: 20px;
}
.gallery li{
    width: calc(100% / 6);
    margin: 5px;
}
.card{
    height: 200px;
    position: relative;
}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card span{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px;
}
.card span i{
    font-size: 20px;
}
.card.speaker img{
    border: 5px solid #ffff8f;
}


/* FOOTER */
footer{
    justify-content: space-between;
}
.footer-content{
    list-style: none;
    padding: 10px 0;
}
.footer-icon{
    text-align: center;
    align-items: center;
}
.footer-icon .icon{
    display: block;
    font-size: 30px;
    margin-bottom: 10px;
}
.footer-icon .arrow{
    margin-left: 25px;
}
.footer-icon.active .icon{
    color: #4cc800;
}
footer .btn{
    color: #ff5e47;
    padding: 0 25px;
    border-radius: 0;
    font-size: 1em;
}