/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}
body{
    background-color: #000;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
i{
    cursor: pointer;
}
/* UTILITIES */
/* display */
.disp-flex{
    display: flex;
}
/* button */
.btn{
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #3b3b3b;
    font-size: 1em;
    cursor: pointer;
}
.btn-big-red{
    color: #ff5e47;
    padding: 0 25px;
    border-radius: 0;
}
/* margin */
.mg-right5{
    margin-right: 5px;
}
/* border */
.speaker{
    border: 5px solid #ffff8f;
}
/* color */
.active{
    color: #4cc800;
}
/*  */
/* HEADER */
header{
    padding: 20px;
    text-align: right;
}

/* MAIN */
main{
    flex-grow: 1;
    overflow: auto;
}
main .gallery{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    margin-top: 20px;
}
.gallery li{
    width: 450px;
    margin: 5px;
}
.card-img{
    height: 250px;
    position: relative;
}
.card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-text{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
}

/* FOOTER */
footer{
    display: flex;
    justify-content: space-between;
}
.footer-content{
    display: flex;
    list-style: none;
    padding: 10px 0;
}
.footer-icon{
    align-items: center;
    text-align: center;
    margin: 0 20px;
    /* display: flex; */
}
.footer-icon .icon{
    display: block;
    font-size: 2em;
    margin-bottom: 5px;
}
.footer-icon .arrow{
    margin-left: 20px;
}
